# # App
# APP_PORT=3000
# NODE_ENV=development

# # Base de données PostgreSQL
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=


# JWT_SECRET=
# JWT_EXPIRES_IN=
# JWT_REFRESH_SECRET=
# JWT_REFRESH_EXPIRES_IN=


# MAIL_HOST=
# MAIL_PORT=
# MAIL_USER=
# MAIL_PASS= 
# MAIL_FROM=""

# # Upload
# UPLOAD_DEST=./uploads
# MAX_FILE_SIZE=5242880

# # Frontend URLs (CORS)
 FRONTEND_WEB_URL=